/* Base Styles */
body {
    font-family: 'Hack', Arial, sans-serif;
    background-color: #1e1e1e;
    color: #dcdcdc;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #252526;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    background: #333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav a {
    color: #9cdcfe;
    font-size: clamp(12px, 3vw, 18px);
    white-space: normal;
    overflow-wrap: break-word;
}

nav strong {
    color: #dcdcdc;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

section {
    display: inline-block;
    background: #3c3c3c;
    padding: 10px;
    border-radius: 8px;
}

h1 {
    font-size: 36px;
    color: #569cd6;
}

h2 {
    font-size: 24px;
    color: #dcdcaa;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #cccccc;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container, nav, section {
        padding: 10px;
    }

    nav a, nav strong {
        font-size: 3vw;
    }

    h1, h2, p {
        font-size: smaller;
    }
}
